Flask==2.1.3
Flask-Cors==3.0.10
python-firebase==1.2
gunicorn==20.1.0
Pillow===6.2.2
flask_cors
imageio
opencv-contrib-python==4.6.*
prometheus_client==0.15.0
python-geohash==0.8.5
torchvision==0.10.0
firebase_admin
onnxruntime
geopy
dill
